.div_Quadrado{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}

.flex_container{
    background-color: blue;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.flex_div1, .flex_div2, .flex_div3{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: antiquewhite;
}

.barrazul_container{
    background-color: brown;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction:row;
}

.barrazul_div1, .barrazul_div3{

    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: gold;
}

.d_container{
    width: 900px;
    height: 450px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.d_div_1, .d_div_2{
    width: 25%;
    height: 100%;
    background-color: green;
}

.d_div_1{

}

.d_div_2{
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.d_div_amarelo{
    height: 33%;
    width: 100%;
    background-color: yellow;
}

.pansexual{
    width: 900px;
    height: 450px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-left: 10px solid black
}

.amarelo{
    height: 66%;
    width: 100%;
    background-color: yellow;
        border-bottom: 10px solid black;

}

.azul{
    height:50%;
    width: 100%;
    background-color: pink;
    flex-direction: column;
        border-bottom: 10px solid black;


}